:root{
    --white-color:#ffffff;
    --black-color:#170F49;
}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    color: #170F49 !important;
    text-decoration: none;  
}

a:hover{
    text-decoration: none !important;
}

.img-vector{
    margin: 0 0 3px 0;
    cursor: pointer;
}

body,
html{
    background-color: var(--white-color);
    position: relative;    
}

.header{
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
}

.header .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
}

.header .inner .logo,
.header1 .inner1 .logo,
.header2 .inner2 .logo{
    cursor: pointer;
}

/* css header 1 */
.header .inner .inner-header{
    display: flex;
    align-items: center;
}

.header .inner .inner-header .menu{
    display: flex;
    align-items: center;
    margin: 0 !important;
}

.header .inner .inner-header .menu .menu-item{
    font-size: 18px;
    line-height: 20px;
    margin:0 0 0 32px ;
    list-style-type: none;
}

.header .inner .inner-header .menu-item-btn{
    padding: 10px 15px;
    background: #4A3AFF;
    border-radius: 24.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 20px;
}

.header .inner .inner-header .menu-item-btn a{
    color: var(--white-color) !important;
    font-size: 16px;
    list-style-type: none; 
}


/* css header 2 */
.header1 .inner1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
}

.header1 .inner1 .left,
.header1 .inner1 .right{
    display: flex;
}

.header1 .inner1 .left .menu-left,
.header1 .inner1 .right .menu-right{
    display: flex;
    align-items: center;
    margin: 0 !important;
}

.header1 .inner1 .left .menu-left .menu-item,
.header1 .inner1 .right .menu-right .menu-item{
    font-size: 18px;
    line-height: 20px;
    margin:0 0 0 32px ;
    list-style-type: none;
}


/* css header 3 */
.header2 .inner2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
}

.header2 .inner2 .inner-header2{
    display: flex;
}

.header2 .inner2 .inner-header2 .menu{
    display: flex;
    align-items: center;
    margin: 0 !important;
}

.header2 .inner2 .inner-header2 .menu .menu-item{
    font-size: 18px;
    line-height: 20px;
    margin:0 0 0 32px ;
    list-style-type: none;
}

.header2 .inner2 .menu-btn1{
    display: flex;
}

.header2 .inner2 .menu-btn1 .menu-item-btn-login{
    padding: 10px 15px;
    background: #FFFFFF;
    border: 1px solid #D9DBE9;
    border-radius: 24.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px 0 0;
}

.header2 .inner2 .menu-btn1 .menu-item-btn{
    padding: 10px 15px;
    background: #4A3AFF;
    border-radius: 24.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.header2 .inner2 .menu-btn1 .menu-item-btn a{
    color: var(--white-color) !important;
    font-size: 16px;
    list-style-type: none; 
}

.header2 .inner2 .menu-btn1 .menu-item-btn-login a{
    color: var(--black-color) !important;
    font-size: 16px;
    list-style-type: none; 
}

/* css header 4  */
.header2 .inner2 .menu-btn2{
    display: flex;
}

.header2 .inner2 .menu-btn2 .menu-item-btn-language{
    padding: 5px 10px;
    background: #FFFFFF;
    border: 1px solid #EFF0F7;
    box-shadow: 0px 5px 5px rgba(8, 15, 52, 0.04);
    border-radius: 24.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px 0 0;
}

.header2 .inner2 .menu-btn2 .menu-item-btn{
    padding: 10px 15px;
    background: #4A3AFF;
    border-radius: 24.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.header2 .inner2 .menu-btn2 .menu-item-btn a{
    color: var(--white-color) !important;
    font-size: 16px;
    list-style-type: none; 
}

.header2 .inner2 .menu-btn2 .menu-item-language{
    margin: 0 8px;
}

.header2 .inner2 .menu-btn2 .menu-item-btn-language .img1{
    cursor: pointer;
}

.header2 .inner2 .menu-btn2 .menu-item-btn-language .img2{
    margin:0 0 0 15px ;
    font-size: 10px !important;
    cursor: pointer;
}

/* responsive header */
.header_close1,
.img-vector,
.mobile{
    display: none;
    cursor: pointer;
}
.header_toggle1 {
    display: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}




/* header 1 */
/* 
@media (max-width: 991px){

    .mobile.show{
        display: block;
    }
    .header_toggle1 {
        display: inline;
    }
    
    .header_close1 {
        position: absolute;
        display: block;
        right: 16px;
        top: 45px;    
    }

    .header_close1:hover {
       background-color: #000;
    }

    .header .inner .inner-header .menu-item-btn {
       display: none;
    }

    .mobile{
       position:fixed;
       top: 0;
       background-color: #FFFFFF;
       width: 70%;
       height: 100vh;
       z-index: 100;
       transition: .5s;
       padding: 20px 0;
       right: -100%;
       border: 1px solid #ccc;
   }

    .content {
       display: none;
    }

    .show {
       right: 0;
    }

    .inner-header .menu{
        display: none !important;
      }

    .inner-header-mobile{
       text-align: center;
       margin-top: 20px;
    }

    .inner-header-mobile .menu-moblie{
       display: inline !important; 
   }

    .menu-item {
       list-style-type: none;
   }

   .inner-header-mobile .menu-moblie .menu-item a{
       color: #171102 !important;
   }
} */



/* header 2 */
.data-user{
    display: none;
}

@media (max-width: 991px){
    .mobile.show{
        display: block;
    }
    .header_toggle1 {
        display: inline;
    }

    .mobile{
       position:fixed;
       left: 0;
       bottom: 0;
       background-color: #FFFFFF;
       width: 70%;
       height: 100vh;
       z-index: 100;
       transition: .5s;
       padding: 20px 0;
       right: -100%;
       border: 1px solid #ccc;
    }

    .header_close1 {
        position: absolute;
        width: 25px;
        height: 25px;
        display: block;
        /* left: 380px;
        top: 40px;     */
        top: 0;
        right: 0;
        margin: 10px 10px;
    }

    .content {
       display: none;
    }

    .show {
       right: 0;
    }

    .header1 .inner1 .left .menu-left,
    .header1 .inner1 .right .menu-right{
        display: none !important;
    }

    .left,
    .right {
       text-align: center;
       margin-top: 15px;
    }

    .menu-item {
       list-style-type: none;
    }

   .inner-header-mobile .menu-moblie .menu-item a{
       color: #171102 !important;
    }

   .data-user{
    display: inline;
    }
}



/* header 3 */
/* @media (max-width: 991px){
    .mobile.show{
        display: block;
    }
    .header_toggle1 {
        display: inline;
    }
    
    .header_close1 {
        position: absolute;
        display: block;
        right: 16px;
        top: 45px;    
    }

    .header2 .inner2 .inner-header2 .menu-btn1 {
       display: none;
    }

    .mobile{
       position:fixed;
       top: 0;
       background-color: #FFFFFF;
       width: 70%;
       height: 100vh;
       z-index: 100;
       transition: .5s;
       padding: 20px 0;
       right: -100%;
       border: 1px solid #ccc;
   }

    .content {
       display: none;
    }

    .show {
       right: 0;
    }

    .inner-header2 .menu{
        display: none !important;
    }

    .menu-btn1{
        display: none !important;
    }

    .inner-header-mobile{
       text-align: center;
       margin-top: 20px;
    }

    .inner-header-mobile .menu-moblie{
       display: inline !important; 
   }

    .menu-item {
       list-style-type: none;
   }

   .inner-header-mobile .menu-moblie .menu-item a{
       color: #171102 !important;
   }
} */




/* header 4 */
/* @media (max-width: 991px){
    .mobile.show{
        display: block;
    }
    .header_toggle1 {
        display: inline;
    }
    
    .header_close1 {
        position: absolute;
        display: block;
        right: 16px;
        top: 45px;    
    }

    .header2 .inner2 .menu-btn2 {
       display: none;
    }

    .mobile{
       position:fixed;
       top: 0;
       background-color: #FFFFFF;
       width: 70%;
       height: 100vh;
       z-index: 100;
       transition: .5s;
       padding: 20px 0;
       right: -100%;
       border: 1px solid #ccc;
   }

    .content {
       display: none;
    }

    .show {
       right: 0;
    }

    .inner-header2 .menu{
        display: none !important;
    }

    .menu-btn1{
        display: none !important;
    }

    .inner-header-mobile{
       text-align: center;
       margin-top: 20px;
    }

    .inner-header-mobile .menu-moblie{
       display: inline !important; 
   }

    .menu-item {
       list-style-type: none;
   }

   .inner-header-mobile .menu-moblie .menu-item a{
       color: #171102 !important;
   }

    .img2{
       display: none ;
   }
} */